:root {
  --gray: #CCC;
  --white: #FFF;
  --light-white: #9ab0ba;
  --dark-blue: #26556d;
  --mid-blue: #53788b;
  --light-blue: #ecf5f7;
}

body {
  margin: 0;
  padding: 15px 15px;
  background: var(--light-blue);
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: var(--dark-blue);
}

.header__title {
  margin-left: 20px;
  font-family: 'Lato Regular', sans-sans-serif;
  font-size: 22px;
  color: var(--white);
}

.header__description {
  flex-grow: 1;
  text-align: right;
  font-size: 14px;
  font-family: 'Lato Regular', sans-sans-serif;
  color: var(--light-white);
}

.header__brand {
  height: 40px;
  width: auto;
}

.dashboard {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
  grid-row-gap: 15px;
}

.section {
  padding: 20px 20px 5px 20px;
}

.section__title {
  font-family: 'Lato Regular', sans-sans-serif;
  font-size: 20px;
  color: var(--mid-blue);
}

.section--clear {
  padding: 5px 20px;
}

.dashboard__box {
  background: var(--gray);
}

.dashboard__box--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.dashboard__box--2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.dashboard__box--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.dashboard__box--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 8;
}

.dashboard__box--5 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.dashboard__box--6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.dashboard__box--7 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.dashboard__box--8   {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.dashboard__box--9   {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}
